#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

/* Title */
.title {
  margin-top: 60px;
  font-size: 25px;
}

/* Styling Person Card */
.card-style {
  background-color: orange;
  margin-top: 60px;
  padding: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-style:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

strong {
  color: black;
  font-weight: 700;
}
